<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        <% items.forEach((item) => { %>
            <tr>
              <td><%= item.id %></td>
              <td><%= item.first_name %> <%= item.last_name %></td>
              <td><%= item.email %></td>
              <td><%= item.item %></td>
              <td><%= item.quantity %></td>
              <td><%= item.total_price %></td>
            </tr>
          <% }) %>
    </tbody>
</table>